<header style="{{ partial "sidebar/style" . | safeCSS }}">
  <div class="header-wrapper lg-container">
    <div class="intro">
      <div class="intro-wrapper">
         <div class="logo-container">
           <a href="/">
             <img src='{{ .Site.Params.sidebar.logo | default "images/me.jpg" | absURL }}' alt='{{ .Site.Params.sidebar.title | default "Profile Pic" }}' title='{{ .Site.Params.sidebar.title | default "Profile Pic" }}' class="rounded-logo object-fit">
           </a>
         </div>
         <h2>{{ .Site.Params.intro.main | default "Welcome, I'm Ajaj Rajguru" | emojify }}</h2>
         <h3>{{ .Site.Params.intro.sub | default "This is my personal website" | emojify }}</h3>
      </div>
      <div class="menu">
        {{ partial "sidebar/menu" . }}
        {{ if .Site.Params.contact.email }}
          {{ $email := printf "mailto:%s" .Site.Params.contact.email}}
          <p>
              <a href="{{ $email }}" target="_blank" rel="external">
                  {{ .Site.Params.contact.text | emojify }}
              </a>
          </p>
        {{ end }}
      </div>

    </div>

    <div class="socials">
        {{ partial "sidebar/social" .}}
    </div>
  </div>

</header>