footer{
	padding: 28px 45px;
	.footer-wrapper{
		max-width: 50em;
	}
	@media (max-width: 767px){
		.footer-wrapper{
			flex-direction: column;
			text-align: center;
		}
	}
	.menu{
		margin-bottom: 15px;
		p{
			&:not(:first-child){
				padding-left: 20px;
			}
		}
	}
	@include bp(mobile){
		padding: 28px 25px;
		.footer-navigation{
			align-items: center !important;	
		}
	}
}