// Global styles for layout

// Removing default html selection color
html{
	background-color: transparent;
}

.content-wrapper{
    @include bp(mobile){
        padding: 35px 25px;
    }
}

// Overriting content max-width 
#content, .breadcrumb{
	max-width: 50em;
}

// Reset extra margin for post pictures/figure
#content{
	&:not(.portfolio){
		img{
			width: auto;
			margin: 0 auto;
		}
	}
    &.post{
        img{
            margin: 30px auto;
        }
    }
}

label{
	display: block;
    margin-bottom: 10px;
    font-weight: 600;
}

.theme-input{
	min-width: 240px;
    padding: 0.6rem;
    font-size: 14px;
    border: 0;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.21);
    outline: 0;
    resize: none;
    &:hover,&:focus{
    	outline: 0;
    }
}

.single-view{
    @media (max-width: 1499px){
        header{
            display: none;
        }
        .content-wrapper{
            margin: 0 auto;
        }
        footer{
            left: 0;
            right: 0;
            margin: 0 auto;
            width: 100%;
        }
    }
}




