.reading-time,.published-date{
	display: inline-flex;
}

.article-icon{
	img{
		max-width: 150px;
	}
}

.post-container{
	&:not(:first-child){
		margin-top: 50px;
    		padding-top: 20px;
		border-top: 1px solid $border_color;
		@include bp(mobile){
			 margin-top: 40px;
    			padding-top: 10px;
		}
	}
}