// Typography related stuff

p{
	text-align: left;
	letter-spacing: 0.2px;
	@include bp(tablet-md){
		margin-bottom: 30px;
	}
}

h1{
	@include bp(mobile){
		@include font-rem(30px);
	}
}

h2{
	@include bp(mobile){
		@include font-rem(24px);
	}
}
