.btn{
	border: 0;
    border-radius: 15px;
    padding: 12px 15px;
    background-image:linear-gradient(to right bottom, #000000, #0b0820, #050858, #0b0820, #000000);
    color: #fff;
    min-width: 100px;
    font-weight: bold;
    box-shadow: 0 0 6px #000000c4;
    outline: 0;
    transition: all 0.5s ease;
    cursor: pointer;
    &:hover{
    	background-image:linear-gradient(to right bottom, #000, #0b0820, #272dd1, #0b0820, #000);
    }
}