    </main>
  </div>
  <footer>
    <div class="footer-wrapper lg-container d-flex align-items-center justify-between">
      <div class="newsletter">
        <form name="newsletter" action="/about" method="POST" netlify-honeypot="bot-field" data-netlify="true">
          <h4 class="newsletter__heading">Subscribe to my awesome {{emojify ":heart:"}} newsletter</h4>
          <div class="hidden group d-none">
            <label>Don’t fill this out if you're human: 
            <input name="bot-field" /></label>
          </div>
          <div class="group d-flex align-items-center newsletter__wrapper">
            <input type="Email" name="email" class="theme-input" placeholder="Email Please!!!" title="Email required" required>
            <input type="submit" value="Subscribe" class="btn subscribe-btn">
          </div>
          <p class="newsletter__spamtext">I promise i won't send spam {{emojify ":smile:"}}</p>
        </form>
      </div>      
      <p>{{ .Site.Copyright}}</p>
    </div>
  </footer>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:500,600|Raleway:400,400i,600" rel="stylesheet">
  {{ template "_internal/google_analytics.html" . }}
  <script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>
</body>
</html>