<!DOCTYPE html>
<html lang='{{ .Site.Language.Lang }}'>
{{- partial "head/head" . -}}

<body>	

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KKDC9N5"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

  {{ partialCached "sidebar/sidebar" .}}

  <div class="content-wrapper">
  	<div class="lg-container">
    {{ if .Site.Params.breadcrumb }}
      {{ partial "breadcrumb" .}}
    {{ end }}
    <main id="content" class="{{ .Section }}">